@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @if (ViewData["ErrorMessage"] != null)
    {
        <h1>@ViewData["ErrorMessage"]</h1>
    }

    <h1 class="display-4">Welcome</h1>
</div>

